html { height: 100%; }
body { height: 100%; margin: 0px; padding: 0; overflow: hidden;}
#map_canvas { height: 100%; width:100%; float:left; }
#map_canvas img { max-width:none; }
#header {width:100%}
.navbar {margin-bottom: 0px}

#uploadField {
  visibility:hidden; 
  position:absolute;
}

.login-via-color {
  color: #3399FF;
}

.login-text-color {
  color: #FFFFFF;
}

.alert-bottom {position:absolute; bottom:0; right:1%; max-width:200px}
.container {position:absolute; z-index:1; width: 310px; margin-top:5px; margin-left:80px;
  background-color: #444444; }
.login-container {position:absolute; z-index:1; width: 90px; height:20px; margin-top:5px;
  margin-left:66%; color: #FFFFFF; background-color: #444444; overflow:hidden;
  text-align: center;}

.ui-dialog .ui-dialog-content
{
  padding: 1px 0;
}
.ui-widget .ui-widget {
  font-size:0.8em;
}
form label {
  color:#fff;
}
fieldset span {
  font-size:13px;
}
fieldset button {
  display:block;
  margin-bottom:9px;
}

input[type=button] {
  border-color: #CCCCCC;
}

input[disabled], select[disabled], textarea[disabled] {
  background-color: #000;
  border-color: #666666;
  color: #666666;
}

.time-input {
  display:inline;
  width: 29px;
}
.time {
  display:inline;
}
#subdivide, #split {
  width:29px;
}
#add-lt, #add-rt, #choose-name, #reverse-link, #geom-line, #geom-road {
  display:inline;
}
.context_menu {
  display:none; 
  position:absolute;
  background-color: #fff;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  z-index:3;
}

/* bottom scenario profile editor styles */

.bottom-profile-editor {
  position: absolute;
  bottom: 0;
  width:99.5%;
  height: 0%;
  z-index: 3;
  overflow: auto;
}

.inline-display select {
  display: inline;
  margin: 5px 5px 5px 5px;
}

.inline-display label {
  display: inline;
  margin: 5px 5px 5px 5px;
}

.inline-display input {
  display: inline;
  margin: 5px 5px 5px 5px;
}

.inline-display input[type="button"] {
  float: right;
}

.datatable-display input {
  margin: 0px 0px 0px 0px;
}

.fd-value-field {
  width: 100px;
}

.time {
  margin: 0px 0px 0px 0px;
}

/* context menu stylings */
.context_menu_item {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  cursor:pointer; 
}

.menu_item_disable a{
  color: #111;
  text-decoration: none;
}
.context_menu_separator {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.context_menu_item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #99d3f0;
}
hr {
  margin:0;
  padding:0 0 2px 0;
}

#lh{position:fixed; left:20px; bottom:25px; z-index: 2; display:none}
#mh{position:fixed; left:75px; bottom:25px; z-index: 2; display:none}
.bottom-up{bottom:100%; max-width:80px}
/* message panel */
.open {
  display:block;
}
.close {
  display:none;
  opacity:1;
  font-size:16px;
}
.alert {
  padding: 8px 14px;
  z-index: 2;
}
/* submenu */
.icon-ok {
  height: auto;
  display: block;
}

.btn-group li{
  list-style-type: none;
}
/* allows the checkmark to be seen through the hover */
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  opacity: 0.8;
}
.dropdown-menu a 
{
  text-align:left;
  width:130px;
}

.dropdown-menu {
  width:180px;
}
.submenu-show
{
    border-radius: 3px;
    display: block;
    left: 100%;
    top: -400%;
    margin-top: -25px !important;
    moz-border-radius: 3px;
    position: absolute;
    webkit-border-radius: 3px;
}
.submenu-hide
{
    display: none !important;
    float: right;
    position: relative;
    top: auto;
}

/**** TreeView *****/
#tree_view ol.tree
{
  padding: 0 0 0 30px;
  width: 20%;
}

#tree_view #tree  {
  margin-left:30px;  
}
#tree_view > label
{
  margin:10px 13px;
  font-weight: bold;
  font-size: 18px;
}

#tree li
{ 
  position: relative; 
  margin-left: -15px;
  list-style: none;
}

#tree li.file
{
  margin-left: -1px !important;
}

#tree li.file a
{
  background: url(../images/document.png) 0 0 no-repeat;
  color: #000;
  padding-left: 21px;
  text-decoration: none;
  display: block;
}

#tree li.highlight a
{
  background-color: #ccc;
  color: red;
}

#tree li input
{
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}

#tree li input + label 
{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

#tree li input + label
{
  background: url(../images/toggle-small-expand.png) 40px 0px no-repeat; 
  margin: 0em 0 0 -44px; /* 15px */
  padding: 1.563em 0 0 80px;
  height: 1em;
}

#tree li input:checked + label
{
  background: url(../images/toggle-small.png) 40px 0px no-repeat;
  margin: 0em 0 0 -44px; /* 20px */
  padding: 1.563em 0 0 80px;
  height: auto;
}

#tree li input + label + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }

#tree li label
{
  background: url(../images/folder-horizontal.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}

#tree li input:checked ~ ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
#tree li input:checked ~ ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

#tree  li input:checked ~ ol > li.hide {display: none}
#tree  li input:checked ~ ol > li.show {display: block}

#tree-handle { 
          margin-top:50%;
          width:5px; 
          height:50px; 
          background:#BBB;
          border: 1px solid #BBB;
        }
#tree-resize { 
          width:6px; 
          float:left;
          background:#DDD;
          border: 1px solid #BBB;
          height:100%;
        }
#expand-all {
  margin-left:5px;
  line-height:0.5em;
  font-size: 0.5em;
  padding: 0.2em 0.2em;
}
#right_tree {
  position: absolute;
  background: #fff;
  height: 100%;
  width:22%;
  right:0;
  overflow: scroll;
  z-index: 2;
  display: none
}

.demand-display, .const-notice {
  padding: 20px;
  line-spacing: 1.5;
}

.demand-vehicle-type, .demand-count {
  padding: 20px;
  font-size: 2.5em;
}

.demand-count {
  font-face: serif;
}

.const-notice {
  font-size: 1.5em;
  font-style: italic;
}
#left  { 
        float:left; 
        width:50%;
        clear:left;
        }
#resize { width:6px; 
          float:left;
          margin: 0px 6px; 
          background:#DDD;
          border: 1px solid #BBB;
          height:100%;
          }
#handle { width:5px; 
          height:50px; 
          background:#BBB;
          border: 1px solid #BBB;
        }

#right {overflow:hidden; width:50%;height:100% }
#wrapper { width:100%; height:100%}
.odd { background-color:#BBB;}
.even { background-color:#DDD;}
.row_selected { background-color:#000;}
.browser_table { 
                width:100%;
                color: #F58400;
                font-size:1.1em;
                padding: 1px;
                }
.browser_table th { color: #F58400; }
.browser_table td { padding: 5px; }
#browser_table_length label {color:white;
                             padding-top: 5px;
                             padding-left: 10px;
                              }
#browser_table_length select {  display:inline;
                                width:55px;
                                height:15px;
                              }
#browser_table_paginate a {margin-right: 0em;}

.editor_table { 
                width:100%;
                color: #F58400;
                font-size:0.9em;
                padding: 1px;
                }
.editor_table th { color: #F58400; }
.editor_table td { padding: 5px; }

.editor-button { display: inline; float: right; }

#user-login-error { color:red; }

.center { text-align: center; padding-top: 10px;}

/* jQuery UI Hacks */
.ui-widget-content-select { border: 1px solid #666666; background: #000000; color: #ffffff; }
.red {color:red}
.big16 {font-size:16px}
